/* styles.css*/

body		/*-- COMMENT --*/
{
	height: 100vh;
	width: 100vw;
	background-color: rgba(255,200,0,0.25);	/*-- Beige --*/
	margin: 0;
	font-family: Calibri, Times;
	font-size: 4vw;

}

#navDiv{
	margin: 5px auto;
	height: 15vh;
	width: 60vw;
	/* background-color: gray; */
	font-size: 3vw;
    color: black;
	padding: 5px;
}

#navDiv:after{
	content: "";
	display: block;
	clear: both;
}
.navigate{
	background-color: rgba(150,150,150,0.25);
	border-radius: 3px;
	border: 1px solid black;
	width: 15vw;
	float: left;
	margin: 15px;
	text-align: center;
	border-radius: 20px;
}
#start{
	font-size: 4vw;
}
#test{    // has no effect
   text-decoration:none;
    color: black;
}
#questDiv{
	/* background-color: yellow; */
	height: 25vh;
	width: 100vw;
	margin: 5vh auto;

}
#questDiv:after{
	content: "";
	display: block;
	clear: both;
}
.question{
	background-color: white;
	float: left;
	width: 10vw;
	height: 10vh;
	font-size: 50px;
	color: white;
	border-radius: 20px;
	border: 0.5vw solid black;
	border-color: rgba(200,200,200,0.15);
	padding: 0 2vw;
	margin: 0 2vw;
	text-align: center;
}

#ansDiv{
	margin: 5vh auto;
	height: 20vh;
	width: 95vw;
	margin 5% auto;
	/* background-color: yellow; */
}
#ansDiv:after{
	content: "";
	display: block;
	clear: both;
}
.answer{
	background-color: rgba(205,205,205,0.75);
	float: left;
	font-size: 40px;
	color: rgba(205,205,205,0.75);
	text-align: center;
	width: 8.5vw;
	border-radius: 14px;
	border: 5px solid black;
	border-color: rgba(255,250,250,0.25);
	padding: 0 2vw;
	margin: 1vw;
}
#timeDiv{
	margin: 0 auto;
	height: 10vh;
	width: 30vw;
	border-radius: 15px;
	border: 2px solid black;
	/* background-color: gray; */
}
#timeDiv:after{
	content: "";
	display: block;
	clear: both;
}

#timeText{
	float: left;
	width: 10vw;

}
.showTime{
	/* background-color: yellow; */
	float: left;
	width: 15vw;
	padding; 1px;
	margin: 1vh 1vw;
}
